<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'pizza_app/style.css' %}" media="screen" />
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <nav class="topnav">
    <div class="logo">
      <img src="{% static 'login_app/img/logo.png' %}" alt="logo">
    </div>
    {% for userProfile in userProfiles %}
    {% if user.is_authenticated and userProfile.user_status == 'employee' %}
    <a class="btn" href="{% url 'pizza_app:employee_page' %}">Home</a>
    <a class="nav-link2" href="{% url 'login_app:logout' %}">Log out <span data-feather="log-out"></a>
    {% elif user.is_authenticated and userProfile.user_status == 'customer' %}
    <a class="btn" href="{% url 'pizza_app:customer_page' %}">Home</a>
    <a class="nav-link2" href="{% url 'login_app:logout' %}">Log out <span data-feather="log-out"></a>
    {% endif %}
    {% endfor %}

    {% if user.is_not_authenticated %}
    <a class="nav-link2" href="{% url 'login_app:login' %}">Login <span data-feather="log-in"></a>
    <a class="btn" href="{% url 'login_app:signup' %}">Sign up</a>
    {% endif %}

  </nav>

  {% block content %} {% endblock %} {% block footer %} {% endblock %}
</body>

</html>