{% extends 'pizza_app/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<section class="user_page">
    {% csrf_token %}
    <div class="menu_container">
        <h1>Customer (PAGE) Menu</h1>



        {% for userProfile in userProfiles %}
        <h2>Helloooooo {{ user.username }}. {{ userProfile.user_status }}</h2>
        <a href="{% url 'pizza_app:user_profile' %}" style="color:white !important">View Profile Details</a>
        {% endfor%}

        <form action="">

        </form>
        {% for pizza in pizzas %}
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="pizza_id" value="{{pizza.pizza_id}}" />
            <input type="hidden" name="pizza_price" value="{{pizza.price}}" />
            <input type="hidden" name="pizza_name" value="{{pizza.name}}" />

            <h2>Pizza name: {{ pizza.name }}
                <br> Pizza Description: {{ pizza.text }}
                <br> Price: {{ pizza.price }} kr.
            </h2>
            <label for="delivery_time" id="start">Delivery time (date and time): </label>
            <input type="datetime-local" name="delivery_time" min="2010-06-12T00:00" max="2021-06-12T00:00">>

            <button>Add To Cart</button>
        </form>
        {% endfor %}
        <a href="{% url 'login_app:logout' %}">Logout</a>
    </div>

    <div class="img_container">

    </div>
</section>


</body>

</html>
{% endblock %}