{% extends 'pizza_app/base.html' %}

{% block title %}Login{% endblock %}

{%block content %}
<h1>Edit Pizza</h1>


<form method="POST">
  {% csrf_token %}
  <input type="hidden" name="pizza_id" value="{{pizza.pizza_id}}" />
  <label for="lname">Pizza name:</label><br>
  <input type="text" name="pizza_name" value="{{pizza.name}}" /> <br>
  <label for="lname">Pizza Price:</label><br>
  <input type="number" name="pizza_price" value="{{pizza.price}}" /><br><br>

  <button formaction="{% url 'pizza_app:delete_pizza' %}">Delete pizza</button>
  <button formaction="{% url 'pizza_app:update_pizza' %}">Update pizza</button>

  <input type="hidden" name="pizza_id" value="{{pizza.pizza_id}}">

</form>
<hr />
<a href="{% url 'pizza_app:employee_page' %}">Home</a>


</body>

</html>
{% endblock %}