html {
  background-color:#FAF3EC;
}

body {
  margin: 0;
  
}
h1 {
  color: black;
  font-size: 3em;
  font-family: "Times New Roman", Times, serif;
}


.employe_page{
  background-image: url("/static/login_app/img/background.jpg");
  background-size: cover;
  padding-top: 20px;
  width: 100%;
  height: 1200px;
  background-repeat: no-repeat;
  text-align: center;
}

.user_page{
  background-size: cover;
  padding-top: 20px;
  width: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.menu_container{

 
}

.img_container{
  background-image: url("/static/login_app/img/pizza.png");
  background-size: 100%, 100%;
  float: right;
  width: 59%;
  height: 100%;
  padding-top: 30px;
  background-repeat: no-repeat;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

h2{
  color: black;
}

input[type="text"],
[type="password"],
[type="email"],
[type="phone"],
[type="number"],
select,
textarea {
  width: 60%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.login a,
.password a {
  font-size: 1em;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

input[type="submit"] {
  background-color: #F9C54C !important;
  border-radius: 20px;
  margin-top: 20px;
  width: 20%;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
