body {
  background-color: #f8f8f8;
  margin: 0;
  
}
h1 {
  color: #fff;
  font-size: 3em;
  font-family: "Times New Roman", Times, serif;
}

.topnav {
  width: 100%;
  float: left;
  background-color: #131619;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  text-decoration: none;
  font-size: 17px;
  box-shadow: 10px 10px 5px #000;
}

.topnav a {
  padding: 6px 8px 8px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
}

.topnav img{
  width: 100px;
}

.logo{
  top: 0px;
  padding-bottom: 10px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4caf50;
  color: white;
}

.employe_page{
  background-image: url("/static/login_app/img/background.jpg");
  background-size: cover;
  padding-top: 20px;
  width: 100%;
  height: 1200px;
  background-repeat: no-repeat;
  text-align: center;
}

.user_page{
  background-image: url("/static/login_app/img/background.jpg");
  background-size: cover;
  padding-top: 20px;
  width: 100%;
  height: 1200px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.menu_container{
  padding-top: 30px;
  float: left;
  width: 35%;
  padding-left: 30px;
 
}

.img_container{
  background-image: url("/static/login_app/img/pizza.png");
  background-size: 100%, 100%;
  float: right;
  width: 59%;
  height: 100%;
  padding-top: 30px;
  background-repeat: no-repeat;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

h2{
  color: #fff;
}

input[type="text"],
[type="password"],
[type="email"],
[type="phone"],
[type="number"],
select,
textarea {
  width: 60%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.login a,
.password a {
  font-size: 1em;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

input[type="submit"] {
  background-color: #F9C54C !important;
  border-radius: 20px;
  margin-top: 20px;
  width: 20%;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
