{% extends 'login_app/base.html' %}

{% block title %}Password reset {% endblock %}

{% block content %}
    <h1>New Password</h1>
    <hr />
    <form action="{% url 'login_app:password_reset_form' %}" method="POST">
      {% csrf_token %}
      <input type="email" name="email" placeholder="Email Address" />
      <input type="password" name="password" placeholder="Password" />
      <input
        type="password"
        name="confirm_password"
        placeholder="Confirm Password"
      />
      <input type="hidden" name="secret" value="{{ secret }}" />
      <input type="submit" value="Set New Password" />
    </form>
    <hr />
    {% if error %}{{ error }}{% endif %}
  </body>
  {% endblock %}
