{% extends 'login_app/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <h1>Sign Up</h1>
    <section class="signup">
    <hr />
    <form action="{% url 'login_app:sign_up' %}" method="POST">
      {% csrf_token %}
      <input type="text" name="username" placeholder="User Name" />
      <input type="password" name="password" placeholder="Password" />
      <input
        type="password"
        name="confirm_password"
        placeholder="Confirm Password"
      />
      <input type="email" name="email" placeholder="Email Address" />
      <input
        type="phone"
        name="telephone_number"
        placeholder="Telephone number"
      />
      <input type="submit" value="Sign Up" />
    </form>
  </section>
  </body>

  {% endblock %}
